TheRealSka8erBoi/.idea/.idea.TheRealSka8erBoi/.idea/workspace.xml
TheRealSka8erBoi/Assets/Feel/NiceVibrations/OlderVersions/v1.7/NiceVibrations-v-1-7.unitypackage.meta
TheRealSka8erBoi/Assets/Feel/NiceVibrations/OlderVersions/v2.0.1/NiceVibrations-v-2-0-1.unitypackage.meta
TheRealSka8erBoi/Assets/Feel/NiceVibrations/NiceVibrationsAHAPConverters.unitypackage.meta
